.prod {
    
    width: 100%;
    height: 100vh;
    background: url('../images/yousef-espanioly-DA_tplYgTow-unsplash.jpg') center center;
    background-size: cover;
}
.overlay_prod {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.172); 
}

.colour{
    color: rgba(208, 131, 7, 0.159);
}